h1{
    color: red;
}

.trabajador {
    background-color: gray;
}


/* Los h2 que esten dentro de trabajador */
.trabajador>h2{
    text-align: center;
}

.datos-personales{
    border-style: solid;
}


.estudios{
    border-style: double;
}

.texto-subrayado {
    text-decoration: underline;
}
